<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Default SpiraTestConfiguration settings -->
    <add key="RecordTestRun" value="true" />
    <add key="DefaultConfigPrefix" value="Test" />
    <!-- Default SpiraTestConfiguration settings -->
    <add key="Test:Url" value="http://localhost/SpiraTest" />
    <add key="Test:Login" value="fredbloggs" />
    <add key="Test:Password" value="fredbloggs" />
    <add key="Test:ProjectId" value="1" />
    <add key="Test:ReleaseId" value="1" />
    <add key="Test:TestSetId" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>